Triage_Soporte_Autonomo.json
{
  "name": "Triage_Soporte_Autonomo",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        38800,
        3936
      ],
      "id": "d95038ea-9e93-44dd-8308-9656ff276a19",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "eNpCZUK1aXO0gZoE",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\n\n// Extraer FROM\nlet from = 'unknown';\nif (email.from && email.from.value && email.from.value[0]) {\n  from = email.from.value[0].address || 'unknown';\n}\nif (email.headers && email.headers.from) {\n  from = email.headers.from.replace('From: ', '').trim();\n}\n\n// Extraer SUBJECT\nlet subject = email.subject || 'No Subject';\nif (email.headers && email.headers.subject) {\n  subject = email.headers.subject.replace('Subject: ', '').trim();\n}\n\n// Extraer BODY - PRIORIDAD: text > textAsHtml > html > snippet\nlet body = '';\nif (email.text) {\n  body = email.text.trim();\n} else if (email.textAsHtml) {\n  body = email.textAsHtml.trim();\n} else if (email.html) {\n  body = email.html.trim();\n} else if (email.snippet) {\n  body = email.snippet.trim();\n} else {\n  body = 'Sin contenido';\n}\n\nreturn [{json: {email: from, subject: subject, body: body}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        39200,
        3936
      ],
      "id": "482f8728-a378-4b2b-9a99-b3307d0c1296",
      "name": "Extract Email"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apppS0GKnhyNWurwr",
          "mode": "list",
          "cachedResultName": "SoporteAutonomo",
          "cachedResultUrl": "https://airtable.com/apppS0GKnhyNWurwr"
        },
        "table": {
          "__rl": true,
          "value": "tblCso30tJflP0IpO",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://airtable.com/apppS0GKnhyNWurwr/tblCso30tJflP0IpO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Asunto": "={{ $node[\"Extract Email\"].json.subject }}",
            "Cuerpo": "={{ $node[\"Extract Email\"].json.body }}",
            "Estado": "Pendiente",
            " Email_Origen": "={{ $json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket_ID",
              "displayName": "Ticket_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": " Email_Origen",
              "displayName": " Email_Origen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cuerpo",
              "displayName": "Cuerpo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad_Calculada",
              "displayName": "Prioridad_Calculada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Critical",
                  "value": "Critical"
                },
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Network",
                  "value": "Network"
                },
                {
                  "name": "Database",
                  "value": "Database"
                },
                {
                  "name": "Security",
                  "value": "Security"
                },
                {
                  "name": "Performance",
                  "value": "Performance"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Recomendacion_IA",
              "displayName": "Recomendacion_IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Aprobado_Por",
              "displayName": "Aprobado_Por",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Procesado_IA",
                  "value": "Procesado_IA"
                },
                {
                  "name": "Aprobado_Humano",
                  "value": "Aprobado_Humano"
                },
                {
                  "name": "Escalado",
                  "value": "Escalado"
                },
                {
                  "name": "Resuelto",
                  "value": "Resuelto"
                },
                {
                  "name": "Error_Processing",
                  "value": "Error_Processing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp_Creacion",
              "displayName": "Timestamp_Creacion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Timestamp_Actualizacion",
              "displayName": "Timestamp_Actualizacion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "StatusLog",
              "displayName": "StatusLog",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ErrorLog",
              "displayName": "ErrorLog",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "NotasAnalysis",
              "displayName": "NotasAnalysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        39600,
        3936
      ],
      "id": "b2ad5e70-7667-4e09-8f54-71f7e57fec01",
      "name": "Create Ticket",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "QoSWW16LaYAafKJM",
          "name": "Airtable OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ticketData = $node[\"Create Ticket\"].json.fields || {};\nconst ticketId = $node[\"Create Ticket\"].json.id;\nconst email = ticketData.Email_Origen || 'unknown';\nconst subject = ticketData.Asunto || 'No Subject';\nconst body = ticketData.Cuerpo || 'Sin contenido';\n\nconst payload = {\n  model: 'claude-opus-4-6',\n  max_tokens: 1024,\n  messages: [\n    {\n      role: 'user',\n      content: 'Email: ' + email + '\\nAsunto: ' + subject + '\\nCuerpo: ' + body + '\\nResponde SOLO JSON con: categoria, prioridad, solucion_sugerida, tiempo_estimado_horas, confidence'\n    }\n  ]\n};\nreturn [{json: {payload: JSON.stringify(payload), ticketId: ticketId}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40000,
        3936
      ],
      "id": "d60301a8-622d-4239-8a70-edfb583168a2",
      "name": "Build Claude Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $node[\"Build Claude Payload\"].json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        40400,
        3936
      ],
      "id": "75f11419-bffd-49ab-bc36-b6818a3fe327",
      "name": "Call Claude API",
      "credentials": {
        "anthropicApi": {
          "id": "JUxCFbctSfIff7L0",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nif (!response.content || !response.content[0] || !response.content[0].text) {\n  return [{json: {categoria: 'Other', prioridad: 'Low', solucion_sugerida: 'Error', tiempo_estimado_horas: 0, confidence: 0}}];\n}\nconst text = response.content[0].text;\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) {\n  return [{json: {categoria: 'Other', prioridad: 'Low', solucion_sugerida: text, tiempo_estimado_horas: 0, confidence: 0}}];\n}\ntry {\n  const parsed = JSON.parse(jsonMatch[0]);\n  let categoria = parsed.categoria || 'Other';\n  let prioridad = parsed.prioridad || 'Low';\n  const categoriaMap = {\n    'database': 'Database', 'base de datos': 'Database', 'db': 'Database', 'oracle': 'Database', 'sql': 'Database',\n    'network': 'Network', 'red': 'Network', 'conectividad': 'Network',\n    'security': 'Security', 'seguridad': 'Security', 'acceso': 'Security',\n    'performance': 'Performance', 'rendimiento': 'Performance', 'lentitud': 'Performance'\n  };\n  const categoriaLower = categoria.toLowerCase();\n  for (const [key, value] of Object.entries(categoriaMap)) {\n    if (categoriaLower.includes(key)) {\n      categoria = value;\n      break;\n    }\n  }\n  if (!['Database', 'Network', 'Security', 'Performance', 'Other'].includes(categoria)) {\n    categoria = 'Other';\n  }\n  const prioridadMap = {\n    'critical': 'Critical', 'critica': 'Critical', 'urgente': 'Critical',\n    'high': 'High', 'alta': 'High',\n    'medium': 'Medium', 'media': 'Medium',\n    'low': 'Low', 'baja': 'Low'\n  };\n  const prioridadLower = prioridad.toLowerCase();\n  for (const [key, value] of Object.entries(prioridadMap)) {\n    if (prioridadLower.includes(key)) {\n      prioridad = value;\n      break;\n    }\n  }\n  if (!['Critical', 'High', 'Medium', 'Low'].includes(prioridad)) {\n    prioridad = 'Low';\n  }\n  return [{json: {categoria: categoria, prioridad: prioridad, solucion_sugerida: parsed.solucion_sugerida || '', tiempo_estimado_horas: parsed.tiempo_estimado_horas || 0, confidence: parsed.confidence || 0}}];\n} catch (e) {\n  return [{json: {categoria: 'Other', prioridad: 'Low', solucion_sugerida: 'Parse error', tiempo_estimado_horas: 0, confidence: 0}}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40800,
        3936
      ],
      "id": "298f5982-2825-404a-a666-4e2ad95b14bd",
      "name": "Parse Claude Response"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apppS0GKnhyNWurwr",
          "mode": "list",
          "cachedResultName": "SoporteAutonomo"
        },
        "table": {
          "__rl": true,
          "value": "tblLJW9RoMStnP8dL",
          "mode": "list",
          "cachedResultName": "Analisis_IA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket_ID": [
              "={{ $node[\"Create Ticket\"].json.id }}"
            ],
            "Categoria": "={{ $node[\"Parse Claude Response\"].json.categoria }}",
            "Prioridad_Calculada": "={{ $node[\"Parse Claude Response\"].json.prioridad }}",
            "Recomendacion_IA": "={{ $node[\"Parse Claude Response\"].json.solucion_sugerida }}",
            "Tiempo_Estimado": "={{ $node[\"Parse Claude Response\"].json.tiempo_estimado_horas }}",
            "Confidence": "={{ $node[\"Parse Claude Response\"].json.confidence }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NotasAnalysis_ID",
              "displayName": "NotasAnalysis_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Ticket_ID",
              "displayName": "Ticket_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Database",
                  "value": "Database"
                },
                {
                  "name": "Network",
                  "value": "Network"
                },
                {
                  "name": "Security",
                  "value": "Security"
                },
                {
                  "name": "Performance",
                  "value": "Performance"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prioridad_Calculada",
              "displayName": "Prioridad_Calculada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Critical",
                  "value": "Critical"
                },
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Recomendacion_IA",
              "displayName": "Recomendacion_IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Solución",
              "displayName": "Solución",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tiempo_Estimado",
              "displayName": "Tiempo_Estimado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        41008,
        3936
      ],
      "id": "c2b0538c-2b9d-42fb-9c1e-15ca401a95ef",
      "name": "Create Analysis Record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "QoSWW16LaYAafKJM",
          "name": "Airtable OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $node[\"Parse Claude Response\"].json;\nconst message = '🔔 TICKET ANALIZADO\\n\\n📋 Categoría: ' + data.categoria + '\\n🔴 Prioridad: ' + data.prioridad + '\\n⏱️ Tiempo: ' + data.tiempo_estimado_horas + ' horas\\n📌 Confianza: ' + data.confidence + '%\\n\\n💡 Solución:\\n' + data.solucion_sugerida;\nreturn [{json: {message: message}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        41200,
        3936
      ],
      "id": "0a37e588-a5b7-443f-a7a4-82e2097895cb",
      "name": "Build Slack Message"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BEJH2MZJ4",
          "mode": "list",
          "cachedResultName": "soporte-qa"
        },
        "text": "={{ $node[\"Build Slack Message\"].json.message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        41408,
        3936
      ],
      "id": "09c2cf5f-0166-4292-bde7-97736431a872",
      "name": "Send to Slack",
      "webhookId": "4450ae0f-0e84-41ee-b32c-c131cb52ce90",
      "credentials": {
        "slackOAuth2Api": {
          "id": "MeHVmQeUWEXKSFD9",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email": {
      "main": [
        [
          {
            "node": "Create Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket": {
      "main": [
        [
          {
            "node": "Build Claude Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Payload": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Create Analysis Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Analysis Record": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d2e99f1b-2734-4f00-81d3-6db271510707",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a7cdba164421ba964e0e049b721daff102e22ae8041460e9442ea281890be63"
  },
  "nodeGroups": [],
  "id": "aKNOEqntBC7C0HpS",
  "tags": []
}